- if type == :new
  - back_link = url(:maker_events, :index)
  - action = 'create'
  - submit_caption = 'Create'
- elsif type == :edit
  - back_link = url(:maker_events, :show, id: @maker_event.id)
  - action = 'edit'
  - submit_caption = 'Edit'

= form_for @maker_event, target_url do |f|
  - if flash[:form_error]
    = partial 'form_errors', locals: { form_errors: flash[:form_error], action: action }

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :event
    = f.text_field :event, class: 'form-control', required: true

  .checkbox
    %label
      = f.check_box :active
      Active

  = f.submit submit_caption, class: 'btn btn-default'

  = link_to 'Cancel', back_link, class: 'btn btn-link'
