.page-header
  %h1 
    Maker key
    %small
      = @maker_key.name

    - if @maker_key.active
      %span.label.label-success
        Active
    - else
      %span.label.label-default
        Inactive

.row
  .col-md-6
    %a.btn.btn-primary{ href: url(:maker_keys, :edit, id: @maker_key.id) }
      Edit
      %span.glyphicon.glyphicon-edit

    = form_tag url(:maker_keys, :delete, id: @maker_key.id), method: 'post', class: 'btn' do
      = submit_tag 'Delete', class: 'btn btn-danger'
.row
  .col-md-6
    %h2 Details
    %table.table.table-bordered
      %tbody
        %tr
          %td Key
          %td= @maker_key.key
        %tr
          %td Used at
          %td= pretty_print_date(@maker_key.used_at, ago: true, alt: '(never)')
        %tr
          %td Created at
          %td= pretty_print_date(@maker_key.created_at, alt: '(never)')
        %tr
          %td Updated at
          %td= pretty_print_date(@maker_key.updated_at, alt: '(never)')

  .col-md-6
    %h2 Used in actions
    .list-group
      - @maker_key.maker_actions.each do |action|
        = link_to(action.name, url(:maker_actions, :show, id: action.id) ,class: 'list-group-item')
