- if type == :new
  - back_link = url(:solar_log_triggers, :index)
  - action = 'create'
  - submit_caption = 'Create'
- elsif type == :edit
  -back_link = url(:solar_log_triggers, :show, id: @solar_log_trigger.id)
  - action = 'edit'
  - submit_caption = 'Edit'

= form_for @solar_log_trigger, target_url do |f|
  - if flash[:form_error]
    = partial 'form_errors', locals: { form_errors: flash[:form_error], action: action }

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', required: true

  .form-group
    = f.label :condition
    = f.text_area :condition, class: 'form-control', required: true, placeholder: "power_ac < 50 AND ROUND(efficiency, 2) < 0.5"
    %span.help-block
      .panel.panel-default
        .panel-heading
          %h3.panel-title Condition syntax
        .panel-body
          %dl
            %dt Math operators
            %dd +, -, *, /, ^, %
            %dt Logic
            %dd= "AND, OR, <, <=, >=, >, =, <>, !="
            %dt Functions
            %dd IF, NOT, MIN, MAX, ROUND, ROUNDDOWN, ROUNDUP
            %dt Variables
            %dd power_ac [W], power_dc [W], power_max [W], capacity [%], voltage_ac [V], voltage_dc [V], consumption_ac [W], usage [%], power_available [W], efficiency [%], alternator_loss [W], consumption_day [Wh], consumption_yesterday [Wh], consumption_month [Wh], consumption_total [Wh], production_day [Wh], production_yesterday [Wh], production_month [Wh], production_total [Wh]
  .form-group
    = f.label :maker_actions
    %select.form-control.select2{ multiple: 'multiple', name: 'solar_log_trigger[maker_actions][]' }
      - MakerAction.order(:name).each do |action|
        - if @solar_log_trigger.maker_action_pks.include? action.id
          %option{ value: action.id, selected: 'selected' }= action.name
        - else
          %option{ value: action.id }= action.name

  .form-group
    = f.label :solar_log_stations
    %select.form-control.select2{ multiple: 'multiple', name: 'solar_log_trigger[solar_log_stations][]' }
      - SolarLogStation.order(:name).each do |station|
        - if @solar_log_trigger.solar_log_station_pks.include? station.id
          %option{ value: station.id, selected: 'selected' }= station.name
        - else
          %option{ value: station.id }= station.name

  .checkbox
    %label
      = f.check_box :active
      Active

  = f.submit submit_caption, class: 'btn btn-primary'

  = link_to 'Cancel', back_link, class: 'btn btn-link'
