.page-header
  %h1
    SolarLog
    %small Triggers

%a{ href: url(:solar_log_triggers, :new) }
  %span.glyphicon.glyphicon-plus

%table.table
  %thead
    %tr
      %th Trigger
      %th Last checked
      %th Last used
      %th Active

  %tbody
    - @solar_log_triggers.each do |trigger|
      %tr
        %td= link_to "#{ trigger.name } (#{ pluralize(trigger.maker_actions.count, 'action') } / #{ pluralize(trigger.solar_log_stations.count, 'station') })", url(:solar_log_triggers, :show, id: trigger.id)
        %td= pretty_print_date(trigger.checked_at, ago: true, alt: '(never)')
        %td= pretty_print_date(trigger.used_at, ago: true, alt: '(never)')
        %td
          - if trigger.active
            %span.glyphicon.glyphicon-ok
          - else
            %span.glyphicon.glyphicon-remove
