.page-header
  %h1
    SolarLog station
    %small
      = @solar_log_station.name

    - if @solar_log_station.active
      %span.label.label-success
        Active
    - else
      %span.label.label-default
        Inactive

.row
  .col-md-6
    %a.btn.btn-primary{ href: url(:solar_log_stations, :edit, id: @solar_log_station.id) }
      Edit
      %span.glyphicon.glyphicon-edit

    = form_tag url(:solar_log_stations, :delete, id: @solar_log_station.id), method: 'post', class: 'btn' do
      = submit_tag 'Delete', class: 'btn btn-danger'

  .col-md-6

.row
  .col-md-6
    %h2 Details
    %table.table.table-bordered
      %tbody
        %tr
          %td HTTP URL
          %td= link_to @solar_log_station.http_url, @solar_log_station.http_url
        %tr
          %td Checked at
          %td= pretty_print_date(@solar_log_station.checked_at, ago: true, alt: '(never)')
        %tr
          %td Created at
          %td= pretty_print_date(@solar_log_station.created_at, alt: '(never)')
        %tr
          %td Updated at
          %td= pretty_print_date(@solar_log_station.updated_at, alt: '(never)')

  .col-md-6
    %h2 Used by triggers
    .list-group
      - @solar_log_station.solar_log_triggers.each do |trigger|
        = link_to(trigger.name, url(:solar_log_triggers, :show, id: trigger.id), class: 'list-group-item')

- data_point = @solar_log_station.data_point

%h2 
  Metrics
  %small= "Data from: #{ pretty_print_date(data_point.timestamp, alt: '(never)') }"

.row
  .col-md-3
    %table.table.table-bordered
      %tbody
        %tr
          %th{ scope: 'row' } DC Voltage
          %td= pp_si(data_point.voltage_ac, 'V')
        %tr
          %th{ scope: 'row' } AC Voltage
          %td= pp_si(data_point.voltage_dc, 'V')
        %tr
          %th{ scope: 'row' } DC Power
          %td= pp_si(data_point.power_dc, 'W')
        %tr
          %th{ scope: 'row' } AC Power
          %td= pp_si(data_point.power_ac, 'W')
        %tr
          %th{ scope: 'row' } AC Consumption
          %td= pp_si(data_point.consumption_ac, 'W')
        %tr
          %th{ scope: 'row' } Peak Capacity
          %td= pp_si(data_point.power_max, 'W')

.row
  .col-md-12
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th #
          %th Consumption
          %th Production
          %th Delta
      %tbody
        %tr
          %th{ scope: 'row' } Day
          %td= pp_si(data_point.consumption_day, 'Wh')
          %td= pp_si(data_point.production_day, 'Wh')
          %td= pp_si(data_point.production_day - data_point.consumption_day, 'Wh')
        %tr
          %th{ scope: 'row' } Yesterday
          %td= pp_si(data_point.consumption_yesterday, 'Wh')
          %td= pp_si(data_point.production_yesterday, 'Wh')
          %td= pp_si(data_point.production_yesterday - data_point.consumption_yesterday, 'Wh')
        %tr
          %th{ scope: 'row' } Month
          %td= pp_si(data_point.consumption_month, 'Wh')
          %td= pp_si(data_point.production_month, 'Wh')
          %td= pp_si(data_point.production_month - data_point.consumption_month, 'Wh')
        %tr
          %th{ scope: 'row' } Year
          %td= pp_si(data_point.consumption_year, 'Wh')
          %td= pp_si(data_point.production_year, 'Wh')
          %td= pp_si(data_point.production_year - data_point.consumption_year, 'Wh')
        %tr
          %th{ scope: 'row' } Total
          %td= pp_si(data_point.consumption_total, 'Wh')
          %td= pp_si(data_point.production_total, 'Wh')
          %td= pp_si(data_point.production_total - data_point.consumption_total, 'Wh')
