.page-header
  %h1
    SolarLog station
    %small
      = @solar_log_station.name

    - if @solar_log_station.active
      %span.label.label-success
        Active
    - else
      %span.label.label-default
        Inactive

.row
  .col-md-6
    %a.btn.btn-primary{ href: url(:solar_log_stations, :edit, id: @solar_log_station.id) }
      Edit
      %span.glyphicon.glyphicon-edit

    = form_tag url(:solar_log_stations, :delete, id: @solar_log_station.id), method: 'post', class: 'btn' do
      = submit_tag 'Delete', class: 'btn btn-danger'

    = form_tag url(:solar_log_stations, :update_data, id: @solar_log_station.id), method: 'post', class: 'btn' do
      = submit_tag 'Update Data', class: 'btn btn-success'


  .col-md-6

.row
  .col-md-6
    %h2 Details
    %table.table.table-bordered
      %tbody
        %tr
          %td HTTP URL
          %td= link_to @solar_log_station.http_url, @solar_log_station.http_url
        %tr
          %td Checked at
          %td= pretty_print_date(@solar_log_station.checked_at, ago: true, alt: '(never)')
        %tr
          %td Created at
          %td= pretty_print_date(@solar_log_station.created_at, alt: '(never)')
        %tr
          %td Updated at
          %td= pretty_print_date(@solar_log_station.updated_at, alt: '(never)')

  .col-md-6
    %h2 Used by triggers
    .list-group
      - @solar_log_station.solar_log_triggers.each do |trigger|
        = link_to(trigger.name, url(:solar_log_triggers, :show, id: trigger.id), class: 'list-group-item')

- data_point = @solar_log_station.data_point

%h2 
  Metrics
  %small= "Data from: #{ pretty_print_date(data_point.timestamp, alt: '(never)') }"

- if data_point.timestamp

  .row
    .col-md-6
      %table.table.table-bordered
        %thead
          %tr
            %th #
            %th AC
            %th DC
        %tbody
          %tr
            %th{ scope: 'row' } Voltage
            %td= pp_si(data_point.voltage_ac, 'V')
            %td= pp_si(data_point.voltage_dc, 'V')

          %tr
            %th{ scope: 'row' } Power
            %td= pp_si(data_point.power_ac, 'W')
            %td= pp_si(data_point.power_dc, 'W')

          %tr.active
            %td{ colspan: 3 }
          %tr
            %th Consumption AC
            %td{ colspan: 2 }= pp_si(data_point.consumption_ac, 'W')
          %tr
            %th Available Power
            %td{ colspan: 2 }= pp_si(data_point.power_available, 'W')
          %tr
            %th Usage
            %td{ colspan: 2 }= "#{ (data_point.usage * 100).round(0) } %"

          %tr.active
            %td{ colspan: 3 }
          %tr
            %th Alternator Efficiency
            %td{ colspan: 2 }= "#{ (data_point.efficiency * 100).round(0) } %"
          %tr
            %th Alternator Loss
            %td{ colspan: 2 }= pp_si(data_point.alternator_loss, 'W')

    .col-md-6
      %table.table.table-hover.table-bordered
        %thead
          %tr
            %th #
            %th Consumption
            %th Production
            %th Delta
        %tbody
          %tr
            %th{ scope: 'row' } Day
            %td= pp_si(data_point.consumption_day, 'Wh')
            %td= pp_si(data_point.production_day, 'Wh')
            %td= pp_si(data_point.production_day - data_point.consumption_day, 'Wh')
          %tr
            %th{ scope: 'row' } Yesterday
            %td= pp_si(data_point.consumption_yesterday, 'Wh')
            %td= pp_si(data_point.production_yesterday, 'Wh')
            %td= pp_si(data_point.production_yesterday - data_point.consumption_yesterday, 'Wh')
          %tr
            %th{ scope: 'row' } Month
            %td= pp_si(data_point.consumption_month, 'Wh')
            %td= pp_si(data_point.production_month, 'Wh')
            %td= pp_si(data_point.production_month - data_point.consumption_month, 'Wh')
          %tr
            %th{ scope: 'row' } Year
            %td= pp_si(data_point.consumption_year, 'Wh')
            %td= pp_si(data_point.production_year, 'Wh')
            %td= pp_si(data_point.production_year - data_point.consumption_year, 'Wh')
          %tr
            %th{ scope: 'row' } Total
            %td= pp_si(data_point.consumption_total, 'Wh')
            %td= pp_si(data_point.production_total, 'Wh')
            %td= pp_si(data_point.production_total - data_point.consumption_total, 'Wh')

- else
  .well
    No metrics available yet
