!!!

%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }

    = stylesheet_link_tag 'bootstrap.min'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery-3.1.0.min.js'
    = javascript_include_tag 'bootstrap.min'

  %body
    %nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          %a.navbar-brand{ href: '/' }
            Louis XIV

        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'Maker Keys', url(:maker_keys, :index)

    .container
      .flash
        - if flash[:error]
          .alert.alert-danger{role: :alert}= flash[:error]

        - if flash[:notice]
          .alert.alert-warning{role: :alert}= flash[:notice]

        - if flash[:info]
          .alert.alert-info{role: :alert}= flash[:info]

        - if flash[:success]
          .alert.alert-success{role: :alert}= flash[:success]

      = yield(:content)
